In [1]:
# a set only contains unique elements, and is specified using curly braces
fruits = {'apple', 'orange', 'apple', 'pear', 'orange', 'banana'}
print(fruits)

{'pear', 'apple', 'orange', 'banana'}

In [2]:
# you can check if a set contains an element using 'in'
print('orange' in fruits)
print('crabgrass' in fruits)

True
False

In [3]:
# iterate over the elemens of a set
for fruit in fruits:
    print(fruit)

pear
apple
orange
banana

In [4]:
# add an element to a set
fruits.add('blueberry')

# add many elements to a set
fruits.update(['dragonfruit', 'rasberry', 'currant'])

print(fruits)

{'rasberry', 'banana', 'currant', 'blueberry', 'dragonfruit', 'pear', 'apple', 'orange'}

In [5]:
# create sets from strings
a = set('abracadabra')
b = set('alacazam')
print(a)
print(b)

{'c', 'r', 'a', 'b', 'd'}
{'m', 'c', 'z', 'a', 'l'}

In [6]:
print(a - b) # letters in a but not in b

{'r', 'b', 'd'}

In [7]:
print(a | b) # letters in a or b or both

{'m', 'l', 'c', 'r', 'z', 'a', 'b', 'd'}

In [8]:
print(a & b) # letters in both a and b

{'a', 'c'}

In [9]:
print(a ^ b) # letters in a or b but not both

{'b', 'm', 'r', 'z', 'l', 'd'}

In [10]:
# you can create a blank set with set(), {} is a dictionary
print(type(set()))
print(type({}))

<class 'set'>
<class 'dict'>

In [11]:
# a dictionary is a collection of 'name-value pairs'
tel = {'jack': 4098, 'sape': 4139}
print(tel)

{'jack': 4098, 'sape': 4139}

In [12]:
# add an element
tel['guido'] = 4127
print(tel)

{'jack': 4098, 'sape': 4139, 'guido': 4127}

In [13]:
# get an element
print(tel['jack'])

4098

In [14]:
# delete an element
del tel['jack']

In [15]:
# iterate over the keys of a dictionary
for key in tel:
    print(key)

sape
guido

In [16]:
# you can create a dictionary that behaves much like a list, using ints as keys
nums = {0: 56, 1: 24, 2: 38}
nums2 = [56, 24, 38]
print(nums[0])
print(nums2[0])

56
56